*.fits binary
*.npy binary
*.pkl binary
*.gz binary
*.db binary
*.log binary
*.py  text eol=lf
*.sh  text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md  text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf

*.ipynb text eol=lf

